@model Image
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<div>
    <div>
        <p>Id</p>
        <h4>@Model.Id</h4>
    </div>
    <div>
        <p>Photo</p>
        <h4>
            <img src="/assets/Image/Cards/@Model.Photo" style="width: 50%; height: 300px;" />
        </h4>
    </div>
</div>
